* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/backgroundDesktop.svg);
  background-repeat: repeat-x;
  background-color: #00583C;
}

h1{
  font-weight: 200px;
}
