* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/backgroundDesktop.svg);
  background-repeat: repeat-x;
  background-color: #00583C;
  font-family: 'Roboto', sans-serif;
}

.formulario form input:focus {
  border: 1px solid #555;
}

.link {
  color: #555;
}
